TeamIkidas/Library/metadata/*
TeamIkidas/Temp/UnityLockfile
TeamIkidas/Library/ScriptAssemblies/Assembly-CSharp.dll

TeamIkidas/Library/ScriptAssemblies/Assembly-CSharp.dll

TeamIkidas/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

TeamIkidas/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
